.palel-primary
	{
		border-color: #bce8f1;
	}
	.panel-primary>.panel-heading
	{
		background:#bce8f1;
		
	}
	.panel-primary>.panel-body
	{
		background-color: #EDEDED;
	}
    .panel-heading
    {
        background-color: green;
        color: white;
    }
	body
	{
background-image: url('../images/pexels-max-fischer-5868118.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	}
	.row
	{
		width: 700px;
		
	}
	.card-body
	{
		text-align: center;
	}
	.card-header
	{
		font-size: 25px;
		text-align: center;
		margin-bottom: 10px;
	}